@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for consistency */
body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: #1F2937;
  color: #F3F4F6;
  transition: background-color 0.3s ease, color 0.3s ease;
}